{% extends 'base.html.twig' %}
{% block body %}
<div class='calculator'>

	<h1>Calculator</h1>

	<div class='box'>
	{% if 'result' is defined %}
	<p>Result:</p>
	<p>{{result}}</p>
	{% endif %}
	</div>

	<form method="post" >
		<input type="text" name="firstNumber"/>
		<select name="operation" id="">
			<option value="+">+</option>
			<option value="-">-</option>
			<option value="*">x</option>
			<option value="/">/</option>
		</select>
		<input type="text" name="secondNumber"/>
		<div>
		<button type="submit">Calculate</button>
		<button><a href="{{path('app_web')}}">Back</a></button>
		</div>
	</form>
	
</div>



{% endblock %}



