{% extends 'base.html.twig' %}
{% block body %}
<div class='calculatorContainer'>
<div class='calculator'>

	<h1>Calculator</h1>

	<div class='box'>
	{% if 'result' is defined %}
	<p>Result:</p>
	<p>{{result}}</p>
	{% endif %}
	</div>
	<div>
	<form method="post" >
		<div><input type="text" name="firstNumber"/></div>
		<div><select name="operation" id="">
			<option value="+">+</option>
			<option value="-">-</option>
			<option value="*">x</option>
			<option value="/">/</option>
		</select></div>
		<div><input type="text" name="secondNumber"/></div>
		</div>
		<div>
		<button type="submit">Calculate</button>
		<button><a href="{{path('app_web')}}">Back</a></button>
		</div>
	</form>
	
</div>
</div>



{% endblock %}



